/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo general */
body {
    font-family: Arial, sans-serif;
    background: url("https://png.pngtree.com/thumb_back/fh260/background/20250401/pngtree-amazing-blue-and-purple-galaxy-background-with-stars-in-the-night-image_17161504.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
    min-height: 100vh;
    position: relative;
}

/* Overlay oscuro para mejorar lectura */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.518);
    z-index: -1;
}

.card {
    background: rgba(17, 24, 39, 0.9);
    color: white;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-weight: bold;
}

.card-text {
    line-height: 1.7;
    color: #d1d5db;
}

.list-group-item {
    background: transparent;
    color: white;
    border-color: rgba(255, 255, 255, 0.1);
}

h1, h2 {
    color: #f8fafc;
}
.team-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-icon i {
    font-size: 20px;
    color: #60a5fa;
    background: rgba(255, 255, 255, 0.08);
    padding: 20px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.team-icon i:hover {
    transform: scale(1.1);
    color: #93c5fd;
}